#container
{
width:800px;
height:700px;
background-color:#cfcfcf;
}
#lowercontent
{
position:absolute;
top:120px;
left:10px;
}
#products
{
width:400px;
border:solid 1px black;

float:left;
color:black;
font-size:20px;
text-align:center;
font-style:italic;
font-size:22px;
}
.hidden {
display:none;
}
.border {
border-bottom:none;
}
#mycart
{
position:absolute;
top:8px;
left:410px;
width:395px;
border:solid 1px black;
font-size:20px;
text-align:center;
font-style:italic;
font-size:22px;
float:left;
color:black;

}
#search1
{
float:left;
position:absolute;
top:40px;

}
#search
{
float:left;
position:absolute;
top:0px;
left:80px;
width:200px;
}
.cart {
position:absolute;
left:400px;
}
#a
{
float:left;
position:absolute;
left:290px;
top:40px;
}

#tableid
{
width:500px;
position:absolute;
top:50px;
}

.cart{
position:relative;
left:490px;
top:-68px;
}

#price
{
border:solid 1px black;
width:798px;
position:absolute;
top:510px;
left:7px;
font-size:20px;
text-align:center;
}

